@media screen and (max-width: 1200px) and (min-width: 640px) {
.navigation {
    width: 70%;
    justify-content: center;
    justify-content: space-around;
}

.navigation a {
    font-size: clamp(15px, 1.75vw, 3rem);
    text-decoration: none;
    list-style: none;
    font-family: var(--first-font);
    color: var(--color-cream);
    padding: 1rem;
}

#cards {
    grid-template-columns: repeat(3, 1fr);
}

#book-modal {
        width: 75%;
        top: 5%;
    }

    #book-quote img {
        width: 200px;
        height: auto;
    }

}

@media screen and (max-width: 930px) and (min-width: 640px) {
    #cards {
        grid-template-columns: repeat(2, 1fr);
}

    #book-modal {
        width: 75%;
        top: 5%;
    }

    .modal-header {
        font-size: 20px;
    }

    .personal-review-title p {
        padding: 0.5rem 1rem;
        margin-top: 1rem;
        font-size: 18px;
    }

    .review p {
        font-size: 15px;
        padding: 1rem 2rem;
    }

    .bottom-section {
        display: block;
        margin-left: 8%;
        margin-right: 8%;
    }

    form {
        margin-bottom: 0;
    }

    #book-quote {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #reading-images {
        display: flex;
        justify-content: center;
    }

    #reading-images img {
        height: auto;
        width: 225px; 
        
    }
}
