:root {
    --color-red: #810000;
    --color-dark-red: #420e07;
    --color-dark: #002907;
    --color-yellow: #ec8f00;
    --color-brown: #292929;
    --first-font: "Bellefair", serif;
    --second-font: "Allura", sans-serif;
    --third-font: "Young Serif", serif;
}

header h1 {
    font-family: var(--first-font);
}

main h2 {
    font-family: var(--second-font);
}

main p {
    font-family: var(--third-font);
}