@media screen and (max-width: 1200px) and (min-width: 640px) {
    
    /*Make sure to update the menu to hamburger!!*/


.navigation {
    width: 70%;
    justify-content: center;
    justify-content: space-around;
}

.navigation a {
    font-size: clamp(15px, 1.75vw, 3rem);
    text-decoration: none;
    list-style: none;
    font-family: var(--first-font);
    color: var(--color-cream);
    padding: 1rem;
}

.personal-intro img {
    padding: 0;
}

.personal-intro {
    width: 100%;
    display: grid;
    grid-template-areas: 
    'image image'
    'title title'
    'description description'
    'signature signature';
    max-height: none;
}

#signature {
    grid-column: 1/4;
}

.current-read {
    display: block;
}

.current-read img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5rem;
}

.current-read p {
    text-align: center;
    margin-top: 1.5rem;
}

.middle-section {
    display: block;
}

.genre-cards {
    grid-template-columns: repeat(3, 1fr);
}

.genres h2 {
    font-size: 25px;
}

.genre-cards button {
    width: 12rem;
    height: 12rem;
}

.modal-header {
    max-height: 50px;
}

.modal button {
    width: auto;
    height: 50px;
}
}

@media screen and (max-width: 800px) and (min-width: 640px) {
    .genre-cards button {
        width: 8rem;
        height: 8rem;
}

.modal button {
    width: auto;
    height: 50px;
}

}